{
  "presets": ["@babel/preset-flow", ["optimizations", { "simplify": true }], [ "@babel/preset-env", { "targets": { "node": "current" } } ] ],
  "plugins": ["@babel/plugin-proposal-class-properties", "groundskeeper-willie", "closure-elimination", "module:fast-async"]
}
